.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #FF0080; }

.error{
    color: #FF0080;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar-inverse .navbar-inner {
    background-color: #FFA2DA; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    color: #FF0080;
    filter: none;
}
.nav {
    color: #FF0080;
}

.bot-img {
    position: relative;
    top: -30px;
}

.nav-top {
    position: relative;
    top: -15px;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FFA2DA;
    background-image: -moz-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFA2DA), to(#FF0080));
    background-image: -webkit-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: -o-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: linear-gradient(to bottom, #FFA2DA, #FF0080);
    background-repeat: repeat-x;
    border: 1px solid #FF0080;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    color: white;
}

.navbar-text {
    margin-bottom: 0;
    line-height: 40px;
    color: white;
}

.navbar-link {
    color: white;
}

.navbar-link:hover,
.navbar-link:focus {
    color: #777777;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 10px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 300px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 300px;
    padding: 0 20px;
    margin-top: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #FF0080;
    /*text-shadow: 0 1px 1px rgba(247,247,247,.20);*/
    text-shadow: #FFFFFF 1px 0px, #FFFFFF -1px 0px, #FFFFFF 0px 1px, #FFFFFF 0px -1px, #FFFFFF 1px 1px,
    #FFFFFF -1px -1px, #FFFFFF -1px 1px, #FFFFFF 1px -1px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px,
    #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px, #FFFFFF 0 0 10px
}
.carousel-caption .btn {
    margin-top: 10px;
}

/* RESPONSIVE CSS
    -------------------------------------------------- */

@media (max-width: 300px) {

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
    }

    .carousel .item {
        height: 300px;
    }
    .carousel img {
        width: auto;
        height: 300px;
    }

    .featurette {
        height: auto;
        padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }
}


@media (max-width: 300px) {

    .navbar-inner {
        margin: -20px;
    }

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 50px;
    }
    .carousel-caption h1 {
        font-size: 10px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 18px;
    }

    .marketing .span4 + .span4 {
        margin-top: 40px;
    }

    .featurette-heading {
        font-size: 30px;
    }
    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

}

.form-signin {
    max-width: 400px;
    padding: 10px 20px 10px;
    margin: 0 auto 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 5px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#map,
#panorama {
    height:300px;
    background:#6699cc;
}

#sponsors {
    font-size: 12px;
    text-align: center;
    padding: 4px 6px;
}

#sponsors img {
    height: 40px;
    margin: 4px;
}

.popin{
    background:#fff;
    padding:15px;
    box-shadow: 0 0 20px #999;
    border-radius:2px;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 460px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}

table.dataTable th:active {
    outline: none;
}

.search_table {
    position: relative;
    bottom: 1px;
    left: 500px;
    line-height: 1px;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 2px solid rgba(191, 19, 93, .5);
    border-right: 2px solid rgba(191, 19, 93, .1);
    color: #ffffff;
}

.navbar-link:focus {
    color: #777777;
}

.btn-my {
    color: #ffffff;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25);
    background-color: #FFA2DA;
    background-image: -moz-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFA2DA), to(#FF0080));
    background-image: -webkit-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: -o-linear-gradient(top, #FFA2DA, #FF0080);
    background-image: linear-gradient(to bottom, #FFA2DA, #FF0080);
    background-repeat: repeat-x;
    border-color: #FFA2DA #FF0080 #BF135D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-my:hover,
.btn-my:focus,
.btn-my:active,
.btn-my.active,
.btn-my.disabled,
.btn-my[disabled] {
  color: #ffffff;
  background-color: #FF0080;
  *background-color: #FF0080;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #FFA2DA;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #FF0080;
    background-color: #ffffff;
}